.alert {
  border: 1px solid #ccc;
  padding: 6px;
}

.alert-info{
  background-color: #e8efa9;
}

.alert-warning{
  background-color: rgb(198, 16, 44);
  
}

.alert-success{
  background-color: rgb(83, 208, 83);
}
