{% extends 'base.html' %}

{% block title %}Add income{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}

    <h1>Add income</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col"></div>

        <div class="col-lg-3 col-md-5 col-sm-7">
            <form method="post" id="formIncome" action="/income/add-income">

                <div class="form-group m-3">
                    <label name="incomeAmount" class="form-label">Amount:</label>
                    <input id="incomeAmount" class="form-control" name="amount" type="number" aria-label="Amount (to the nearest dollar)" min="0.01" step="0.01" required>
                </div> 
        
                  <div class="form-group m-3">
                    <label name="startDate" class="form-label">Date:</label>
                      <input name="date_of_income"  id="startDate" type="date" value="2024-01-01" min="2023-01-01" max="2040-01-01" class="form-control" required>
                  </div>
        

                  <div class="form-group m-3">
                    <label name="incomeCategories" class="form-label">Category:</label>
                    <select id="incomeCategories" name="income_category" class="form-control" required>
                        <option value="">Choose income category...</option>
                        {% for income_category in income_categories %}
                        <option value="{{ income_category.name }}">{{ income_category.name}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  
                            
                  <div class="form-group m-3">
                    <label name="incomeComment" class="form-label">Comment (optional):</label>
                    <textarea id="incomeComment" name="comment" class="form-control" aria-label="With textarea"></textarea>
                  </div>
                  
                  <button class="btn btn-light mt-5" type="submit"><i class="bi bi-plus-circle-fill"></i> Add </button>
                
                  <button class="btn btn-light mt-5" type="reset"><i class="bi bi-x-circle-fill"></i> Cancel </button>

            </form>
        </div>

        <div class="col"></div>
    </div>

{% endblock %}
